<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/chapter10loginpage.html</form-login-page>
            <form-error-page>/chapter10errorpage.html</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <role-name>Member</role-name>
    </security-role>
    <security-role>
        <role-name>Guest</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UpdateRecipes</web-resource-name>
            <url-pattern>/chapter10newbeer/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
            <role-name>Member</role-name>
        </auth-constraint>
    </security-constraint>

    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>clientheaderror@wickedlysmart.com</param-value>
    </context-param>
    <context-param>
        <param-name>breed</param-name>
        <param-value>poudel</param-value>
    </context-param>


    <listener>
        <listener-class>chapter5.dogincontext.MyServletContextListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <servlet-class>chapter1.Ch1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <url-pattern>/Serv1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Chapter2 Magnets Servlet</servlet-name>
        <servlet-class>chapter2.Magnets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter2 Magnets Servlet</servlet-name>
        <url-pattern>/Dice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>chapter3.beer.web.BeerSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeerParamTests</servlet-name>
        <servlet-class>chapter5.TestInitParams</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>likewecare@wickedlysmart.com</param-value>
        </init-param>
        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>blooper@wickedlysmart.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeerParamTests</servlet-name>
        <url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ch5 Beer</servlet-name>
        <servlet-class>chapter5.beer.web.BeerSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch5 Beer</servlet-name>
        <url-pattern>/SelectBeerUpd.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListenerTest</servlet-name>
        <servlet-class>chapter5.dogincontext.ListenerTesterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListenerTest</servlet-name>
        <url-pattern>/listenertest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cookies Test</servlet-name>
        <servlet-class>chapter6.cookiesExample.CookiesTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookies Test</servlet-name>
        <url-pattern>/cookiestest.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Check Cookie</servlet-name>
        <servlet-class>chapter6.cookiesExample.CheckCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check Cookie</servlet-name>
        <url-pattern>/checkcookie.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Counter</servlet-name>
        <servlet-class>chapter7.counter.ServletToCounter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Counter</servlet-name>
        <url-pattern>/testcounter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Chapter7Magnets</servlet-name>
        <servlet-class>chapter7.magnets.HobbyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter7Magnets</servlet-name>
        <url-pattern>/HobbyPage.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chapter 8 first</servlet-name>
        <servlet-class>chapter8.firstexample.ServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chapter 8 first</servlet-name>
        <url-pattern>/chapter8first</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chapter 8 props in props</servlet-name>
        <servlet-class>chapter8.propertyofproperty.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chapter 8 props in props</servlet-name>
        <url-pattern>/chapter8propsinprops</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chapter 8 magnets</servlet-name>
        <servlet-class>chapter8.magnets.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chapter 8 magnets</servlet-name>
        <url-pattern>/chapter8magnets</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Movies Servlet</servlet-name>
        <servlet-class>chapter9.moviesarray.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Movies Servlet</servlet-name>
        <url-pattern>/chapter9movies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>New Beer Servlet</servlet-name>
        <servlet-class>chapter10.beeradvicenew.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>New Beer Servlet</servlet-name>
        <url-pattern>/chapter10newbeer</url-pattern>
    </servlet-mapping>


</web-app>